.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: white;
  color: #0e3b5a;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease;
  overflow: hidden;
  border-right: 1px solid #ddd;
  z-index: 5;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar-content {
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-top: 135px;
  margin-left: 15px;
  max-width: 140px;
}

.sidebar.collapsed .sidebar-content {
  opacity: 0;
}

.section {
  margin-bottom: 15px;
  margin-left: 15px;
}

.section h2 {
  margin: 0;
  font-size: 18px;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.section ul li {
  margin-top: 7px;
  margin-bottom: 7px;
}

.section ul li a {
  color: #0e3b5a;
  text-decoration: none;
  font-size: 16px;
}

.section ul li a:hover {
  text-decoration: underline;
}
.section.social {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.social-icon {
  width: 30px;
  height: 30px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}

.toggle-button {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 30px;
  color: rgba(95, 113, 125, 0.656);
  cursor: pointer;
  outline: none;
}

.toggle-button:hover {
  background-color: white;
  color: rgba(95, 113, 125, 0.656);
}
@media (max-width: 1250px) {
  .sidebar-content {
    margin-top: 130px;
    max-width: 112px;
  }
  .toggle-button {
    position: absolute;
    top: 60%;
  }
  .section ul li a {
    color: #0e3b5a;
    text-decoration: none;
    font-size: 12px;
  }
  .sidebar {
    padding: 0;
    position: fixed;
  }

  .section.social {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .toggle-button {
    top: 40%;
  }
}
