.slider {
  width: 100%;
  height: 870px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: none;
  position: relative;
}
.slide.active {
  display: block;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-text {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 28px;
}
.slider-text .text1 {
  margin-right: 280px;
}
.slider-text .text2 {
  margin-left: 150px;
}
.slider-text h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 2.5px;
}
.slider-text p {
  font-size: 20px;
  margin: 20px 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 1.4px;
}
.slider-text p:hover {
  text-decoration: underline;
}
.slider-text span {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.newsletter-form {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: 30px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.newsletter-section {
  background: white;
  display: flex;
  padding: 4px;
  align-items: center;
  min-width: 750px;
  margin-top: 20px;
}
.newsletter-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -10px;
}
.slider-indicators {
  display: flex;
  gap: 5px;
  margin-right: 95px;
  justify-content: center;
  margin-bottom: 10px;
}
.square {
  width: 35px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.square.active {
  background-color: #0e3b5a;
}
.newsletter-icon {
  width: 50px;
  margin-right: 25px;
}
.newsletter-text {
  margin: 0;
  font-size: 16px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
  letter-spacing: 1px;
}
.newsletter-form input {
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  width: 320px;
}
.newsletter-form button {
  background: white;
  color: #0e3b5a;
  border: none;
  cursor: pointer;
  padding: 16px 15px;
  margin-right: 70px;
  min-width: 120px;
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 4px;
}
.newsletter-form button:hover {
  background: #06283d;
}
.hide {
  display: none;
}
@media (max-width: 1300px) {
  .slider-container {
    height: 600px;
  }
  .slider-text .text1 {
    margin-right: 170px;
  }
  .slider-text .text2 {
    margin-left: 0px;
    font-size: 1.55rem;
  }
  .slider-text p {
    display: none;
  }
  .newsletter-section {
    min-width: 350px;
    margin-left: 150px;
  }
  .slider-indicators {
    display: none;
  }
  .newsletter-text.desktop {
    display: none;
  }
  .newsletter-text.mobile {
    display: block;
  }
  .slider {
    height: auto;
  }
  .newsletter-form button {
    padding: 17px 5px;
    min-width: 90px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .newsletter-form {
    max-width: 600px;
  }
  @media (min-width: 769px) {
    .newsletter-text.mobile {
      display: none;
    }
  }
}
@media (max-width: 635px) {
  .slider-text {
    display: none;
  }
  .slider-indicators {
    display: flex;
  }
  .newsletter-text.mobile {
    display: none;
  }
  .hide {
    display: flex;
  }
  .hide2 {
    display: none;
  }
  .newsletter-form {
    left: 0%;
  }
  .newsletter-form {
    max-width: 200px;
  }
  .newsletter-form button {
    margin-top: 0px;
    padding: 15px 10px;
  }
  .newsletter-section {
    min-width: 300px;
  }
  .square {
    width: 25px;
    height: 15px;
  }
}
