.services {
  width: 100%;
  background-color: #0e3b5a;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon3 {
  width: 60px;
  height: 60px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.header-line {
  width: 900px;
  height: 3px;
  background: white;
  border: none;
  margin: 10px auto;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 70px;
  width: 700px;
  margin: 40px auto;
  align-items: center;
}
.center {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-icon1 {
  width: 70px;
  height: 55px;
}

.service-icon2 {
  width: 70px;
  height: 55px;
}

.service-icon3 {
  width: 70px;
  height: 35px;
}

.service-icon4 {
  width: 70px;
  height: 70px;
}

.service-icon5 {
  width: 70px;
  height: 40px;
}

.service-item p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 100;
  max-width: 250px;
}
.services-text {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0px auto;
  margin-bottom: -40px;
}

.text-box {
  flex: 1;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 1100px) {
  .header-line {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
  .services-grid {
    width: auto;
    padding: 50px;
  }
  .services-text {
    display: none;
  }
}
@media (max-width: 635px) {
  .services {
    padding-bottom: 10px;
  }
  .services-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .services-grid p {
    font-size: 1.1rem;
    min-width: 320px;
  }
  .services-grid {
    padding: 0px;
  }
}
