* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Heebo", sans-serif;
  --main-color: #0e3b5a;
  --background-color: #f8f9fa;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--main-color);
  font-size: 16px;
}

h1 {
  font-weight: 100;
  font-size: 24px;
}
.header-line {
  margin: 45px auto;
  width: 900px;
}

@media (max-width: 900px) {
  .header-line {
    width: 80%;
  }
}
